@page

<div class="top-container w-100 d-flex flex-column align-items-center">
  <h1 class="mb-5 mt-5 text-danger">
    ERROR
    <i class="fa-solid fa-ban ml-2"></i>
  </h1>
  <h4>An error occur while try to process your request.</h4>
</div>
