<div class="side-bar-container">
    <div class="side-bar navbar-dark shadow">
        <ul>
            <li>sbfmndsbfb</li>
            <li>sbfmndsbfb</li>
            <li>sbfmndsbfb</li>
            <li>sbfmndsbfb</li>
            <li>sbfmndsbfb</li>
            <li>sbfmndsbfb</li>
            <li>sbfmndsbfb</li>
            <li>sbfmndsbfb</li>
            <li>sbfmndsbfb</li>
            <li>sbfmndsbfb</li>
        </ul>
    </div>
</div>