@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p class="flex flex-column">
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
        <strong>Error Code:</strong> <code>@HttpContext.Response.StatusCode</code>
}

<h3>An error has occurred</h3>
