.cart {
  height: 400px;
  width: fit-content;
  overflow-y: auto;
}

.cart img {
  width: 50px;
  aspect-ratio: 1;
  object-fit: cover;
}

.item-name {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.full-cover {
  min-height: calc(100vh - 100px);
  padding-top: 100px;
}

.cart-container {
  width: fit-content;
  margin-inline: auto;
}

.item-price {
  width: 100px;
  text-align: right;
  font-size: x-small;
}

.item-price-total {
  width: 100px;
  text-align: right;
}

.item-quantity {
  width: 100px;
}

.p-inline-6 {
  padding-inline: 2rem !important;
}
