.side-bar {
  height: 100vh;
  width: 280px;
  position: sticky;
  overflow-y: scroll;
  left: 0;
  top: 0;
  padding-top: 99px;
}

.side-bar-container {
  position: relative;
}

.ml-2 {
  margin-left: 1rem;
}

.filter-submit {
  width: 100%;
  border-radius: 0;
}

.dropdown-body {
  height: 0;
  overflow: hidden;
  transition: 150ms;
}

.dropdown-show {
  height: 100%;
}

.text-nowrap {
  overflow: hidden;
  white-space: nowrap;
}

.flex-grow-none {
  flex-grow: 0;
}
