.product-container {
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;

  max-width: 1500px;

  @media (max-width: 1300px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }

  @media (max-width: 1000px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  @media (max-width: 800px) {
    grid-template-columns: repeat(1, 1fr);
    gap: 5px;
  }
}

.product-card {
  height: 100% !important;
}

.card-title {
  max-width: 100%;
  overflow: hidden;
  /* white-space: nowrap; */
}

.category-container {
  font-size: small;
}

.product-item:hover {
  translate: 0 -1%;
  scale: 103%;
  transition: 150ms ease-in-out;
}
