@using Microsoft.AspNetCore.Identity

<form class="side-bar-container">
    <div class="side-bar navbar-dark shadow category-container" id="side-bar">
        <ul class="list-group rounded-0">
            <li class="list-group-item d-flex align-items-center justify-content-between bg-dark text-light">
                <h4 class="mr-2">Product filter</h4>
                <i class="fa-solid fa-filter"></i>
            </li>
            <li class="list-group-item d-flex flex-column">
                <h5>Price range  <i class="fa-solid fa-money-bill-wave"></i></h4>
                <div class="dropdown-divider"></div>
                <div class="input-group d-flex">
                    <input type="text" class="form-control" title="Min" placeholder="Min">
                    <input type="text" class="form-control" title="Max" placeholder="Max">
                </div>
            </li>
            <li class="list-group-item d-flex flex-column">
                <h5>Category <i class="fa-brands fa-stack-overflow"></i></h5>
                <div class="dropdown-divider"></div>
                <ul class="d-flex flex-column list-group">
                    <li class="list-group-item px-0 border-0 border-bottom rounded-0">
                        <input class="form-check-input" type="checkbox" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Default radio
                        </label>
                    </li>
                    <li class="list-group-item px-0 border-0 border-bottom rounded-0">
                        <input class="form-check-input" type="checkbox" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Default radio
                        </label>
                    </li>
                    <li class="list-group-item px-0 border-0 border-bottom rounded-0">
                        <input class="form-check-input" type="checkbox" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Default radio
                        </label>
                    </li>
                    <li class="list-group-item px-0 border-0 border-bottom rounded-0">
                        <input class="form-check-input" type="checkbox" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Default radio
                        </label>
                    </li>
                    <li class="list-group-item px-0 border-0 border-bottom rounded-0">
                        <input class="form-check-input" type="checkbox" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Default radio
                        </label>
                    </li>
                    <li class="list-group-item px-0 border-0 border-bottom rounded-0">
                        <input class="form-check-input" type="checkbox" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Default radio
                        </label>
                    </li>
                    <li class="list-group-item px-0 border-0 border-bottom rounded-0">
                        <input class="form-check-input" type="checkbox" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Default radio
                        </label>
                    </li>
                    <li class="list-group-item px-0 border-0 border-bottom rounded-0">
                        <input class="form-check-input" type="checkbox" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Default radio
                        </label>
                    </li>
                    <li class="list-group-item px-0 border-0 border-bottom rounded-0">
                        <input class="form-check-input" type="checkbox" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Default radio
                        </label>
                    </li>
                    <li class="list-group-item px-0 border-0 border-bottom rounded-0">
                        <input class="form-check-input" type="checkbox" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Default radio
                        </label>
                    </li>
                    <li class="list-group-item px-0 border-0 border-bottom rounded-0">
                        <input class="form-check-input" type="checkbox" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Default radio
                        </label>
                    </li>
                    <li class="list-group-item px-0 border-0 border-bottom rounded-0">
                        <input class="form-check-input" type="checkbox" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Default radio
                        </label>
                    </li>
                    <li class="list-group-item px-0 border-0 border-bottom rounded-0">
                        <input class="form-check-input" type="checkbox" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Default radio
                        </label>
                    </li>
                    <li class="list-group-item px-0 border-0 border-bottom rounded-0">
                        <input class="form-check-input" type="checkbox" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Default radio
                        </label>
                    </li>
                    <li class="list-group-item px-0 border-0 border-bottom rounded-0">
                        <input class="form-check-input" type="checkbox" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Default radio
                        </label>
                    </li>
                    <li class="list-group-item px-0 border-0 border-bottom rounded-0">
                        <input class="form-check-input" type="checkbox" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Default radio
                        </label>
                    </li>
                    <li class="list-group-item px-0 border-0 border-bottom rounded-0">
                        <input class="form-check-input" type="checkbox" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Default radio
                        </label>
                    </li>
                    <li class="list-group-item px-0 border-0 border-bottom rounded-0">
                        <input class="form-check-input" type="checkbox" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Default radio
                        </label>
                    </li>
                    <li class="list-group-item px-0 border-0 border-bottom rounded-0">
                        <input class="form-check-input" type="checkbox" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Default radio
                        </label>
                    </li>
                    <li class="list-group-item px-0 border-0 border-bottom rounded-0">
                        <input class="form-check-input" type="checkbox" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Default radio
                        </label>
                    </li>
                    <li class="list-group-item px-0 border-0 border-bottom rounded-0">
                        <input class="form-check-input" type="checkbox" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Default radio
                        </label>
                    </li>
                    <li class="list-group-item px-0 border-0 border-bottom rounded-0">
                        <input class="form-check-input" type="checkbox" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Default radio
                        </label>
                    </li>
                    <li class="list-group-item px-0 border-0 border-bottom rounded-0">
                        <input class="form-check-input" type="checkbox" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Default radio
                        </label>
                    </li>
                    <li class="list-group-item px-0 border-0 border-bottom rounded-0">
                        <input class="form-check-input" type="checkbox" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Default radio
                        </label>
                    </li>
                    <li class="list-group-item px-0 border-0 border-bottom rounded-0">
                        <input class="form-check-input" type="checkbox" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Default radio
                        </label>
                    </li>
                    <li class="list-group-item px-0 border-0 border-bottom rounded-0">
                        <input class="form-check-input" type="checkbox" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Default radio
                        </label>
                    </li>
                </ul>
            </li>
        </ul>
        <button type="button" class="btn btn-dark filter-submit">Submit filter</button>
    </div>
</form>