
@using MVC.Areas.Product
@model IndexModel.InputModel


<form class="side-bar-container" 
        method="post" 
        asp-page-handler="Filter" 
        asp-route-category="@(String.Join(",", Model.ProductFilter.Categories.Select(x => x.Title)))")
        asp-route-currentURI="@(Context.Request.QueryString)"    
    >
    <div class="side-bar navbar-dark shadow category-container" id="side-bar">
        <ul class="list-group rounded-0">
            <li class="list-group-item d-flex align-items-center justify-content-between bg-dark text-light">
                <h4 class="mr-2">Product filter</h4>
                <i class="fa-solid fa-filter"></i>
            </li>
            <li class="list-group-item d-flex flex-column">
                <h5>Price range  <i class="fa-solid fa-money-bill-wave"></i></h4>
                <div class="dropdown-divider"></div>
                <div class="input-group d-flex">
                    <input asp-for="ProductFilter.PriceMin" type="number" class="form-control" title="Min" placeholder="Min"/>
                    <input asp-for="ProductFilter.PriceMax" type="number" class="form-control" title="Max" placeholder="Max">
                </div>
            </li>
            <li class="list-group-item d-flex flex-column">
                <h5 id="dropdown-title">Category <i class="fa-brands fa-stack-overflow"></i></h5>
                <div class="dropdown-divider"></div>
                <ul id="dropdown-body" class="d-flex flex-column list-group dropdown-body">
                    @foreach (var (c, i) in Model.ProductFilter.Categories.Select((x, i) => (x, i)))
                    {
                                                    <li class="list-group-item px-0 border-0 border-bottom rounded-0">
                            @Html.CheckBoxFor(x => x.ProductFilter.Categories[i].IsChecked)
                            @Html.LabelFor(x => x.ProductFilter.Categories[i].Title, c.Title)
                                                    </li>
                    }
                </ul>
            </li>
        </ul>
        <button type="submit" class="btn btn-dark filter-submit">Submit filter</button>
    </div>
</form>