<div class="input-group mt-3">
  <input type="text" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1">
  <div class="input-group-append">
    <button class="btn btn-outline-success ml-2 h-100" id="">
        <i class="fa-brands fa-searchengin"></i>
    </button>
  </div>
</div>