<div class="side-bar-container" 
    >
    <div class="side-bar navbar-dark shadow category-container" id="side-bar">
        <div class="list-group rounded-0 d-flex flex-column">
            <div class="list-group-item d-flex align-items-center justify-content-between bg-dark text-light">
                <h5 class="mr-2">Manager categories</h5>
                <i class="fa-solid fa-filter"></i>
            </div>
            <a href="/Admin/Products" class="list-group-item d-flex flex-column">
                <h5>Products <i class="fa-solid fa-money-bill-wave"></i></h4>
                <div class="dropdown-divider"></div>
                <div class="input-group d-flex">
                </div>
            </a>
            <a href="/Admin/Categories" class="list-group-item d-flex flex-column">
                <h5 id="dropdown-title">Categories <i class="fa-brands fa-stack-overflow"></i></h5>
                <div class="dropdown-divider"></div>
                <ul id="dropdown-body" class="d-flex flex-column list-group dropdown-body">
                </ul>
            </a>
            <a href="/Admin/Users" class="list-group-item d-flex flex-column">
                <h5 id="dropdown-title">Users <i class="fa-brands fa-stack-overflow"></i></h5>
                <div class="dropdown-divider"></div>
                <ul id="dropdown-body" class="d-flex flex-column list-group dropdown-body">
                </ul>
            </a>
        </div>
    </div>
</div>