@using Microsoft.AspNetCore.Identity
@using Persistence.Entities
@inject SignInManager<UserEntity> _signInManager
@inject UserManager<UserEntity> UserManager

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom shadow pb-3 pt-3 bg-dark fixed-top">
        <div class="container-fluid d-sm-inline-flex justify-content-between">
            <a class="navbar-brand d-flex align-items-center" asp-area="" asp-controller="Home" asp-action="Index">
                <h1 class="ml-2">
                    <i class="fa-solid fa-fire-flame-curved text-danger"></i>
                </h1>
                <h2 class="ml-2 text-warning">Shopifire</h2>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                <ul class="navbar-nav navbar-dark text-light">
                    @if(!User.Identity.IsAuthenticated){
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">
                            <h5><i class="fa-solid fa-user-plus"></i></h5>
                        </a>
                    </li>
                    }else {
                    <li class="nav-item">
                        <a class="nav-link d-flex p-relative text-light mr-5 dropdown-title" asp-area="" asp-controller="Home" asp-action="Privacy">
                            <h6 class="mr-2">User name</h6> 
                            <h5>
                                <i class="fa-solid fa-user"></i>
                            </h5>
                            <ul class="list-group p-absolute header-panel bg-white">
                                <li class="list-group-item dropdown-header d-flex w-100">
                                    <h6 class="mr-2">User name</h6>
                                    <h5>
                                        <i class="fa-solid fa-user"></i>
                                    </h5>
                                </li>
                                <li class="list-group-item dropdown-item">
                                        <a  asp-controller="Home" asp-action="Privacy">Edit</a>
                                </li>
                                <li class="list-group-item dropdown-item">
                                        <a asp-area="Identity" asp-page="/Account/Logout">Log Out</a>
                                </li>
                            </ul>
                        </a>
                    </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>