@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http.Extensions
@using Persistence.Entities
@using System.Web

@inject SignInManager<UserEntity> _signInManager
@inject UserManager<UserEntity> UserManager

@{
    var returnUrl = HttpUtility.UrlEncode(ViewContext.HttpContext.Request.GetEncodedPathAndQuery());
}

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom shadow pb-3 pt-3 bg-dark fixed-top">
        <div class="container-fluid d-sm-inline-flex justify-content-between">
            <a class="navbar-brand d-flex align-items-center" asp-area="" asp-controller="Home" asp-action="Index">
                <h1 class="ml-2">
                    <i class="fa-solid fa-fire-flame-curved text-danger"></i>
                </h1>
                <h2 class="ml-2 text-warning">Shopifire</h2>
            </a>
            <h1 class="text-light">@ViewData["Title"]</h1>
            <div class=" d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav navbar-dark text-light">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">
                                <h5><i class="fa-solid fa-user-plus"></i></h5>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item dropdown-title d-flex align-items-center">
                            <div class="d-flex ">
                                <h6 class="mb-0 mr-2 text-center">@(User.Claims.Where(x => x.Type == "fullName").FirstOrDefault().Value)</h6> 
                                <h5>
                                    <i class="fa-solid fa-user"></i>
                                </h5>
                            </div>
                            <div class="list-group header-panel p-absolute bg-dark rounded-top mr-2 text-dark">
                                <a href="/Product/Cart?returnURL=@returnUrl" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                                    <span>Cart</span>
                                    <i class="fa-solid fa-cart-shopping"></i>   
                                </a>
                                <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                                    <span>Edit profile</span>
                                    <i class="fa-regular fa-pen-to-square"></i>
                                </a>
                                <a  class="list-group-item list-group-item-action bg-secondary text-light d-flex justify-content-between align-items-center" asp-area="Identity" asp-page="/Account/Logout" >
                                    Logout
                                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                                </a>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>