<div class="bg-light text-dark rounded-top border border-bottom-0 px-2 py-2">
  <ul class="list-group cart">
    <li
      class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
    >
        <div class="d-flex justify-content-start align-items-center">
            <input type="checkbox" name="" id="">
            <div class="img-container">
                <img class="border rounded mx-3" src="https://source.unsplash.com/random/800x800/?img=5" alt="product-profile">
            </div>
            <div class="item-name">Peanutasdl;jsaklasdasjd sjakdjalskjdasgiodj ;</div>
        </div>
        <div class="d-flex justify-content-start align-items-center">
            <div class="item-price">200.000d</div>
            <button type="submit" class="btn btn-danger ml-2">
                <i class="fa-solid fa-circle-minus"></i>
            </button>
        </div>
    </li>
    <li
      class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
    >
        <div class="d-flex justify-content-start align-items-center">
            <input type="checkbox" name="" id="">
            <div class="img-container">
                <img class="border rounded mx-3" src="https://source.unsplash.com/random/800x800/?img=5" alt="product-profile">
            </div>
            <div class="item-name">Peanutasdl;jsaklasdasjd sjakdjalskjdasgiodj ;</div>
        </div>
        <div class="d-flex justify-content-start align-items-center">
            <div class="item-price">200.000d</div>
            <button type="submit" class="btn btn-danger ml-2">
                <i class="fa-solid fa-circle-minus"></i>
            </button>
        </div>
    </li>
  </ul>
</div>


